.default {
  --font-Roboto: "Roboto", sans-serif;
  --containerPadding: 0 9.920634920634921vw;
  --containerMarginTop: 9.920634920634921vw;
  --backgroundContainerPadding: 6.510416666666667vw 9.765625vw;
  --mobileContainerMarginTop: 16vw;
  --mobileContainerPadding: 0 6.4vw;
  --mobileBackgroundContainerPadding: 10.666666666666668vw 6.4vw;
  --borderRadius: 0.6613756613756614vw;
  --mobileBorderRadius: 2.666666666666667vw;
  --padding100: 6.613756613756613vw;
  --margin15: 0.992063492063492vw;
  --margin20: 1.3227513227513228vw;
  --margin30: 1.984126984126984vw;
  --margin70: 4.62962962962963vw;
  --margin100: 6.613756613756613vw;
  --gap70: 4.62962962962963vw;
  --gap20: 1.3227513227513228vw;
  --gap30: 1.984126984126984vw;
  --gap40: 2.6455026455026456vw;
  --gap50: 3.3068783068783065vw;
  --mainbgColor: #12171c;
  --bgColor: #0c1117;
  --font18: 1.1904761904761905vw;
  --font24: 1.5873015873015872vw;
  --font28: 1.8518518518518516vw;
  --lineHeight18: 1.6666666666666667vw;
  --lineHeight24: 2.2222222222222223vw;
  --lineHeight28: 2.169973544973545vw;
  --letterSpace18: 0.023809523809523808vw;
  --letterSpace24: 0.015873015873015872vw;
  --letterSpace28: 0.03703703703703704vw;
  --mfont16: 4.266666666666667vw;
  --mlineHeight16: 5.973333333333334vw;
  --mletterSpace16: 0.08533333333333333vw;

  --mfont12: 3.2vw;
  --mlineHeight12: 4.4799999999999995vw;
  --mletterSpace12: 0.4266666666666667vw;
  --mfont14: 3.733333333333334vw;
  --mlineHeight14: 5.226666666666667vw;
  --mletterSpace14: 0.4266666666666667vw;

  --mfont18: 4.8vw;
  --mlineHeight18: 5.624vw;
  --mletterSpace18: 0.4266666666666667vw;
}

.container {
  padding: var(--containerPadding);
  margin-top: 8.597883597883598vw;
}

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title h2 {
  text-align: center;
  margin-top: 0.7936507936507936vw;
  width: 42.52645502645503vw;
}

.cards {
  display: flex;
  flex-direction: column;
  gap: var(--gap40);
  margin-top: var(--margin70);
}

.card {
  display: flex;
  gap: 3.968253968253968vw;
  padding:  3.968253968253968vw;
  border-radius: 1.3227513227513228vw;

  width: 80.15873015873017vw;
  height: 32.20899470899471vw;
}

.card:nth-child(1) {
  background: #effaff;
}

.card:nth-child(2) {
  background: #ffeeda;
}

.card:nth-child(3) {
  background: #eee9ff;
}

.content {
  width: 34.12698412698413vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.content h3{
    margin: 0.5291005291005291vw 0 0.7936507936507936vw 0;
}

.imgContainer {
  width: 34.12698412698413vw;
  height: 24.272486772486772vw;
  position: relative;
}

.imgContainer img {
  width: 100%;
  height: 100%;
}

@media only screen and (max-width: 767px) {
  .container {
    padding: var(--mobileContainerPadding);
    margin-top: var(--mobileContainerMarginTop);
  }

  .title h2 {
    text-align: center;
    margin-top: 0.7936507936507936vw;
    width: auto;
  }

  .cards {
    gap: 8vw;
    margin-top: 8vw;
  }
  
  .card {
    display: flex;
    flex-direction: column;
    gap: 0;
    padding:  8vw 5.333333333333334vw;
    border-radius: 5.333333333333334vw;
  
    width: auto;
    height: auto;
  }

  .content {
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .content p {
    margin: 3.2vw 0 5.333333333333334vw 0;
  }

  .imgContainer{
    width: auto;
    height: 54.400000000000006vw;
    border-radius: 2.666666666666667vw;
  }
}
