.mHeader {
  display: none;
}

.active {
  color: #2b61f7 !important;
}

.hContainer {
  box-sizing: border-box; /* Include padding and border in the total width */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 3.1746031746031744vw;
  position: fixed;
  top: 1.5vw;
  left: 50%;
  transform: translateX(-50%);
  width: 86.77248677248677vw;
  border-radius: 5.82010582010582vw;
  height: 5.82010582010582vw;
  margin: 0 auto;
  background: #FFFFFF;
  z-index: 99;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.hContainer hr {
  background-color: rgba(255, 255, 255, 0.6);
  height: 0.06613756613756613vw;
  width: 86.77248677248677vw;
  border: none;

  position: absolute;
  bottom: 0;
  left: 6.613756613756613vw;
}

.logoContainer {
  width: 8.058201058201059vw;
  height: 2.6455026455026456vw;
  cursor: pointer;
}

.logoContainer img{
  width: 100%;
  height: 100%;
}

.hMenuContainer {
  display: flex;
  align-items: center;
  gap: 3.968253968253968vw;
}

.hUlList {
  display: flex;
  gap: 2.6455026455026456vw;
  font-size: 1.1904761904761905vw;
  font-weight: 400;
  line-height: 1.6666666666666667vw;
  color: #222222;
  font-family: var(--font-Roboto);
  text-transform: capitalize;
  position: relative;
  white-space: nowrap;
}

.hUlList a{
  transition: .6s ease;
}

.hUlList a:hover{
  color: rgba(0, 0, 0, 0.2);
  transition: .4s ease;
}

.hUlList li {
  cursor: pointer;
}

/* Header Anim or Transi Start */

.huListTransitionWrapper {
  /* width: 100%; */
  height: 90%;
  overflow: hidden;
  position: relative;
}

.listHoverTop,
.listBottomHover {
  position: absolute;
  top: 0%;
  left: 0%;
  transform: translate(-0%, -0%);
  transition: transform 0.6s ease;
}

.listHoverTop {
  transform: translate(0%, -0%);
}

.listHoverBottom {
  transition: transform 0.6s ease;
  transform: translate(0%, 250%);
}

.huListTransitionWrapper:hover .listHoverTop {
  transform: translate(0%, -250%);
}

.huListTransitionWrapper:hover .listHoverBottom {
  transform: translate(0%, 0%);
}

@media only screen and (max-width: 767px) {
  .hContainer {
    display: none;
  }
}
