.default {
  --font-Roboto: "Roboto", sans-serif;
  --containerPadding: 0 9.920634920634921vw;
  --containerMarginTop: 9.920634920634921vw;
  --backgroundContainerPadding: 6.510416666666667vw 9.765625vw;
  --mobileContainerMarginTop: 16vw;
  --mobileContainerPadding: 0 6.4vw;
  --mobileBackgroundContainerPadding: 10.666666666666668vw 6.4vw;
  --borderRadius: 0.6613756613756614vw;
  --mobileBorderRadius: 2.666666666666667vw;
  --padding100: 6.613756613756613vw;
  --margin15: 0.992063492063492vw;
  --margin20: 1.3227513227513228vw;
  --margin30: 1.984126984126984vw;
  --margin70: 4.62962962962963vw;
  --margin100: 6.613756613756613vw;
  --gap70: 4.62962962962963vw;
  --gap20: 1.3227513227513228vw;
  --gap30: 1.984126984126984vw;
  --gap40: 2.6455026455026456vw;
  --gap50: 3.3068783068783065vw;
  --mainbgColor: #12171c;
  --bgColor: #0c1117;
  --font18: 1.1904761904761905vw;
  --font24: 1.5873015873015872vw;
  --font28: 1.8518518518518516vw;
  --lineHeight18: 1.6666666666666667vw;
  --lineHeight24: 2.2222222222222223vw;
  --lineHeight28: 2.169973544973545vw;
  --letterSpace18: 0.023809523809523808vw;
  --letterSpace24: 0.015873015873015872vw;
  --letterSpace28: 0.03703703703703704vw;
  --mfont16: 4.266666666666667vw;
  --mlineHeight16: 5.973333333333334vw;
  --mletterSpace16: 0.08533333333333333vw;

  --mfont12: 3.2vw;
  --mlineHeight12: 4.4799999999999995vw;
  --mletterSpace12: 0.4266666666666667vw;
  --mfont14: 3.733333333333334vw;
  --mlineHeight14: 5.226666666666667vw;
  --mletterSpace14: 0.4266666666666667vw;

  --mfont18: 4.8vw;
  --mlineHeight18: 5.624vw;
  --mletterSpace18: 0.4266666666666667vw;
}

.container {
  padding: var(--containerPadding);
  margin-top: 8.597883597883598vw;
}

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title h2 {
  text-align: center;
  margin-top: 0.7936507936507936vw;
  width: 47.52645502645503vw;
}

.cards {
  display: grid;
  grid-template-rows: 26.455026455026452vw 26.455026455026452vw;
  grid-template-columns: 1fr 1fr 1fr;
  gap: var(--gap30);
  margin-top: var(--margin70);
}

.card {
  background-color: #fafafa;
  border-radius: 1.3227513227513228vw;
  display: flex;
  position: relative;
  overflow: hidden;
}

.card:nth-child(1) {
  grid-column: span 2;
}

.card:nth-child(2) {
  grid-column: span 1;
}

.card:nth-child(3) {
  grid-column: span 1;
}

.card:nth-child(4) {
  grid-column: span 2;
}

.card .box1 {
  width: 23.677248677248677vw;
}

.box1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  padding-left: var(--gap30);
}

.box1 h3 {
  margin: var(--margin15) 0;
}

.iconContainer {
  width: 3.968253968253968vw;
  height: 3.968253968253968vw;
  border-radius: 3.968253968253968vw;
  background: #0063db;
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
}

.iconContainer img {
  width: var(--gap30);
  height: var(--gap30);
}

.box2 {
  width: 25.132275132275133vw;
  position: relative;
  /* overflow: hidden; */
}

.card:nth-child(1) .box2 img {
  width: 100%;
  height: 100%;
  position: absolute;
  right: -4vw;
  bottom: 0.1vw;
}

.card:nth-child(4) .box2 img {
  width: 155%;
  height: 100%;
  position: absolute;
  right: -14vw;
}

@media only screen and (max-width: 767px) {
  .container {
    padding: var(--mobileContainerPadding);
    margin-top: var(--mobileContainerMarginTop);
  }

  .title h2 {
    width: auto;
  }

  .cards {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    gap: 8vw;
    margin-top: 16vw;
  }

  .card {
    border-radius: 5.333333333333334vw;
    padding: 5.333333333333334vw 0 5.333333333333334vw 1vw;
  }

  .card:nth-child(1) {
    grid-column: span 1;
    grid-row: span 2;
    display: flex;
    flex-direction: column;
    padding-bottom: 0;
  }

  .card:nth-child(2) {
    grid-column: span 1;
  }

  .card:nth-child(3) {
    grid-column: span 1;
  }

  .card:nth-child(4) {
    grid-column: span 1;
    grid-row: span 1;
    display: flex;
    flex-direction: column;
    padding-bottom: 0;
  }

  .box1 {
    width: 100% !important;
  }

  .box1 h3 {
    margin: 4vw 0;
  }

  .iconContainer {
    width: 13.333333333333334vw;
    height: 13.333333333333334vw;
    border-radius: 13.333333333333334vw;
  }

  .iconContainer img {
    width: 6.666666666666667vw;
    height: 6.666666666666667vw;
  }

  .box2 {
    width: 76.53333333333333vw;
    height: 70.39999999999999vw;
  }

  .card:nth-child(1) .box2 img {
    width: 100%;
    height: 100%;
    position: absolute;
    right: -12vw;
    bottom: 0.1vw;
  }

  .card:nth-child(4) .box2 img {
    width: 150%;
    height: 100%;
    position: absolute;
    right: -37vw;
    bottom: -1.5vw;
  }
}
